.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}

.thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fileinput.thumbnail-exists > .thumbnail {
    width: auto !important;
    height: auto !important;
}



